# Servidor
HOST=0.0.0.0
PORT=8000
ENV=development

# Modelo
MODEL_NAME=resnet50
MODEL_PATH=app/models/weights/clara_model.pth
MODEL_VERSION=1.0.0

# Imagen
IMAGE_SIZE=224
DEVICE=cpu

# Logging
LOG_LEVEL=debug
LOG_DIR=logs